<div>{{team.team_name}}</div>

<table name="OffStats_table">
	<caption>Offensive Production</caption>
	<tr>
		<th></th>
		<th>Left</th>
		<th>Middle</th>
		<th>Right</th>
	</tr>
	<tr>
		<th>Long</td>
		<td>{{team.off_ll_pct}}%</td>
		<td>{{team.off_lm_pct}}%</td>
		<td>{{team.off_lr_pct}}%</td>
	</tr>
	<tr>
		<th>Short</td>
		<td>{{team.off_sl_pct}}%</td>
		<td>{{team.off_sm_pct}}%</td>
		<td>{{team.off_sr_pct}}%</td>
	</tr>
</table>
<br>
<table name="DefStat_table">
	<caption>Defensive Production</caption>
	<tr>
		<th></th>
		<th>Left</th>
		<th>Middle</th>
		<th>Right</th>
	</tr>
	<tr>
		<th>Long</td>
		<td>{{team.def_ll_pct}}%</td>
		<td>{{team.def_lm_pct}}%</td>
		<td>{{team.def_lr_pct}}%</td>
	</tr>
	<tr>
		<th>Short</td>
		<td>{{team.def_sl_pct}}%</td>
		<td>{{team.def_sm_pct}}%</td>
		<td>{{team.def_sr_pct}}%</td>
	</tr>
</table>